In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')
# Convert date columns to datetime
df[["observation_date", "date_of_introduction"]] = df[["observation_date", "date_of_introduction"]].apply(
    pd.to_datetime
)
# create number of days since introduction feature
df['days_since_introduction'] = (df['observation_date'] - df['date_of_introduction']).dt.days

# Initial Growth Potential
df['initial_growth_potential'] = df['initial_female_count'] * df['leaf_area_cm2']
df

,treatment_id,date_of_introduction,observation_date,initial_female_count,leaf_area_cm2,population_density,replicate_id,cumulative_mite_count,number_of_eggs,no_of_eggs_hatched,male_count,female_count,days_since_introduction,initial_growth_potential
0,T1R1,2019-07-31,2019-08-01,1,0.5,2.000000,1,0,0,0,0,0,1,0.5
1,T1R1,2019-07-31,2019-08-02,1,0.5,2.000000,1,0,0,0,0,0,2,0.5
2,T1R1,2019-07-31,2019-08-03,1,0.5,2.000000,1,2,3,2,0,2,3,0.5
3,T1R1,2019-07-31,2019-08-04,1,0.5,2.000000,1,6,4,4,0,4,4,0.5
4,T1R1,2019-07-31,2019-08-05,1,0.5,2.000000,1,9,4,3,0,3,5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3781,T9R23,2019-12-05,2019-12-21,4,15.0,0.266667,23,401,13,11,2,9,16,60.0
3782,T9R23,2019-12-05,2019-12-22,4,15.0,0.266667,23,411,11,10,4,6,17,60.0
3783,T9R23,2019-12-05,2019-12-23,4,15.0,0.266667,23,414,4,4,0,3,18,60.0
3784,T9R23,2019-12-05,2019-12-24,2,15.0,0.133333,23,415,1,1,0,1,19,30.0
3785,T9R23,2019-12-05,2019-12-25,1,15.0,0.066667,23,415,0,0,0,0,20,15.0

In [5]:
df.to_csv('data_with_features.csv', index=False)